# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# Environments
.env
.venv/
env/
venv/

# Data
notebooks/data/
*.parquet
*.json
*.csv

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

